$Moderateblue: hsl(238, 40%, 52%);
$SoftRed: hsl(358, 79%, 66%);
$Lightgrayishblue: hsl(239, 57%, 85%);
$Palered: hsl(357, 100%, 86%);

$Darkblue: hsl(212, 24%, 26%);
$GrayishBlue: hsl(211, 10%, 45%);
$Lightgray: hsl(223, 19%, 93%);
$Verylightgray: hsl(228, 33%, 97%);
$White: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 730px;
  margin: auto;
  background-color: $Verylightgray;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.comments__section {
  padding-top: 65px;
  margin: auto;
  width: 730px;
}
.comment__wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 85px 1fr min-content;
  background-color: $White;
  padding: 20px 0;
  border-radius: 10px;
}
.comment {
  margin-bottom: 25px;
  row-gap: 25px;
  display: grid;
  grid-template-columns: 85px 1fr min-content;
  align-items: center;
  overflow: hidden;
  .like__section {
    text-align: center;
    background-color: $Verylightgray;
    padding: 10px;
    width: 40px;
    border-radius: 10px;
    justify-self: center;
    height: fit-content;
    span {
      font-weight: 500;
      font-size: 0.9em;
    }
    .icon {
      color: $Lightgrayishblue;
      &:hover {
        cursor: pointer;
      }
    }
    .number {
      color: $Moderateblue;
      margin: 20px 0;
      display: block;
    }
  }
  .content__section {
    padding-right: 25px;
    .top__section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .profile {
        display: flex;
        align-items: center;
        img {
          height: 30px;
        }
        .profile__name {
          margin-left: 15px;
          font-weight: 500;
          color: $Darkblue;
        }
        .createdAt {
          margin-left: 15px;
          color: $GrayishBlue;
        }
      }
      .share {
        color: $Moderateblue;
        font-weight: 500;
        cursor: pointer;
        transition: ease 0.2s;

        &:hover {
          opacity: 0.6;
          transition: ease 0.2s;
        }
        img {
          margin-right: 8px;
        }
      }
    }
    .comment-text {
      margin-top: 15px;
      color: $GrayishBlue;
      font-size: 0.9em;
      line-height: 1.5em;
      word-break: break-word;
    }
  }
}
.replies {
  border-radius: 10px;
  padding: 25px 0;
  background-color: $White;
  grid-column: 2;
  grid-template-columns: 85px 1fr min-content;
  align-items: center;
  display: grid;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 210px;
    top: 0;
    left: -45px;
    background-color: $Lightgray;
  }
}

.input__section {
  border-radius: 10px;
  transition: height 2s;
  background-color: White;
  min-height: 140px;
  width: 100%;
  display: grid;
  grid-template-columns: 55px 1fr 105px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
  margin-bottom: 25px;
  .profile__img {
    width: 40px;
  }
  .textarea {
    min-width: 470px;
    min-height: 95px;
    border-radius: 5px;
    margin-right: 15px;
    border: 1px solid $Lightgray;
    padding: 20px 25px;
    font-size: 1em;
    font-family: "Rubik", sans-serif;
    transition: ease 0.2s;
    caret-color: $Moderateblue;

    &:focus {
      outline: 1px solid $Darkblue;
      transition: ease 0.2s;
    }
    &:hover {
      cursor: pointer;
      transition: ease 0.2s;
    }
  }
  button {
    padding: 15px 30px;
    background-color: #5457b6;
    border: 0;
    outline: 0;
    color: white;
    border-radius: 5px;
    transition: ease 0.2s;
    font-weight: 700;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
      transition: ease 0.2s;
    }
  }
}
