$Moderateblue: hsl(238, 40%, 52%);
$SoftRed: hsl(358, 79%, 66%);
$Lightgrayishblue: hsl(239, 57%, 85%);
$Palered: hsl(357, 100%, 86%);

$Darkblue: hsl(212, 24%, 26%);
$GrayishBlue: hsl(211, 10%, 45%);
$Lightgray: hsl(223, 19%, 93%);
$Verylightgray: hsl(228, 33%, 97%);
$White: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  position: absolute;
  bottom: 15px;
  font-size: 15px;
  text-align: center;
  display: none;
  a {
    color: hsl(228, 45%, 44%);
  }
}
span[placeholder]:empty:before {
  content: attr(placeholder);
  color: $GrayishBlue;
  cursor: pointer;
}

.container {
  width: auto;
  margin: auto;
  background-color: $Verylightgray;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  height: 100%;
}
.comments__section {
  padding-top: 65px;
  margin: auto;
  width: 730px;
}
.comments__input-container {
  margin: auto;
  width: 730px;
}
.comment__wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 88px 1fr min-content;
  background-color: $White;
  padding: 24px 0;
  border-radius: 7px;
}
.comment {
  margin-bottom: 20px;
  row-gap: 20px;
  display: grid;
  grid-template-columns: 85px 1fr min-content;
  align-items: center;
  overflow: hidden;
}
.comment__score {
  text-align: center;
  background-color: $Verylightgray;
  padding: 10px;
  width: 40px;
  border-radius: 12px;
  justify-self: center;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.comment__score-item {
  font-weight: 500;
  font-size: 0.9em;
}
.comment__score-icon {
  transition: ease 0.2s;
  width: 10px;
  height: 10px;
  background: none;
  border: none;
  &:hover {
    cursor: pointer;
    svg path {
      transition: ease 0.2s;

      fill: $Moderateblue;
    }
  }
}
.comment__score-number {
  color: $Moderateblue;
  margin: 20px 0;
  display: block;
  font-weight: 500;
  font-size: 0.9em;
}

.isEditing {
  display: none;
}
.inner__comment {
  padding-right: 25px;
}

.comment__top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment__profile {
  display: flex;
  align-items: center;
}
.comment__logged-indicator {
  margin-left: 9px;
  line-height: 1;
  background-color: $Moderateblue;
  color: $White;
  font-size: 0.75em;
  padding: 3px 5px;
  border-radius: 3px;
}

.comment__profile-img {
  height: 32px;
}
.comment__profile-name {
  margin-left: 15px;
  font-weight: 500;
  font-size: 0.92em;
  color: $Darkblue;
  margin-bottom: 2px;
}
.comment__createdAt-info {
  margin-left: 15px;
  color: $GrayishBlue;
  font-size: 0.92em;
  margin-bottom: 2px;
}
.delete-btn {
  margin-right: 20px;
  color: $SoftRed;
}

.comment__btn {
  color: $Moderateblue;
  font-weight: 500;
  cursor: pointer;
  transition: ease 0.2s;
  font-size: 0.92em;
  display: flex;
  align-items: center;
  &:hover {
    opacity: 0.6;
    transition: ease 0.2s;
  }
  img {
    margin-right: 8px;
  }
}
.comment__text {
  margin-top: 15px;
  color: $GrayishBlue;
  font-size: 0.9em;
  line-height: 1.47em;
  word-break: break-word;
}

.comment__replyingTo {
  color: $Moderateblue;
  font-weight: 500;
}

.reply {
  border-radius: 10px;
  background-color: $White;
  grid-column: 2;
  grid-template-columns: 85px 1fr min-content;
  align-items: top;
  display: grid;
  position: relative;
  margin-left: 5px;

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 500px;
    top: 0;
    left: -45px;
    background-color: $Lightgray;
  }
}
.reply__wrapper {
  border-radius: 10px;
  padding: 25px 0;
  background-color: $White;
  grid-column: 1/3;
  grid-template-columns: 85px 1fr min-content;
  align-items: top;
  display: grid;
  position: relative;
}

.editionWrapper {
  margin-top: 15px;
  text-align: right;
  .textarea {
    text-align: left;
    display: block;
    margin-right: 0;
  }
  button {
    margin-top: 15px;
  }
}

.input__section {
  border-radius: 10px;
  transition: height 2s;
  background-color: White;
  min-height: 140px;
  width: 100%;
  display: grid;
  grid-template-columns: 55px 1fr 105px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
  margin-bottom: 25px;
}
.profile__img {
  width: 40px;
}

.input--reply {
  margin-bottom: 0;
  grid-column: 2;
  .textarea {
    min-width: 420px;
  }
}

.textarea {
  min-width: 470px;
  min-height: 95px;
  border-radius: 5px;
  margin-right: 15px;
  border: 1px solid $Lightgray;
  padding: 15px 25px;
  font-size: 1em;
  font-family: "Rubik", sans-serif;
  transition: ease 0.2s;
  caret-color: $Moderateblue;
  color: $Darkblue;
  &:focus {
    outline: 1px solid $Moderateblue;
    transition: ease 0.2s;
  }
  &:hover {
    cursor: pointer;
    transition: ease 0.2s;
  }
}

.primary-btn {
  padding: 15px 30px;
  background-color: #5457b6;
  border: 0;
  outline: 0;
  color: white;
  border-radius: 5px;
  transition: ease 0.2s;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: ease 0.2s;
  }
}

.comment__options {
  display: flex;
}

.comment__options--mobile {
  display: none;
}

.comments__input-container {
  padding-bottom: 40px;
}

.overlay {
  background: #00000069;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
  z-index: 10000;
  display: none;
}
.overlay--show {
  opacity: 1;
  display: flex;
}

.modal {
  background-color: white;
  padding: 34px 33px 33px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 7px;
}

.modal__tittle {
  display: block;
  font-size: 1.25em;
  color: $Darkblue;
  font-weight: 500;
  margin-bottom: 18px;
}

.modal__text {
  color: $GrayishBlue;
  margin-bottom: 22px;
  display: block;
  font-size: 0.95em;
  line-height: 24px;
}
.modal__btn {
  border: 0;
  padding: 15px 35px;
  font-weight: 600;
  font-size: 0.78em;
  background-color: $GrayishBlue;
  color: white;
  border-radius: 7px;
  transition: ease 0.2s;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: ease 0.2s;
  }
}
.modal__btn--delete {
  background-color: $SoftRed;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .comments__section {
    width: 100%;
    padding: 30px 15px;
  }

  .comment {
    grid-template-columns: 15px 1fr;
  }
  .comment__wrapper {
    grid-template-columns: 1fr;
    padding: 15px;
  }
  .reply {
    grid-template-columns: 1fr;
    margin: 0;
    grid-column: 1/3;
  }
  .reply__wrapper {
    padding: 15px;
  }

  .comment__options {
    display: none;
  }

  .comment__options--mobile {
    grid-row-start: 2;
    display: flex;
    align-items: center;
    justify-self: flex-end;
  }

  .comment__score {
    grid-row-start: 2;
    justify-self: left;
    flex-direction: initial;
    height: 40px;
    width: 100px;
  }
  .comment__score-icon {
    max-width: 100%;
  }

  .comment__score-number {
    margin: 0 20px;
  }

  .inner__comment {
    grid-column: 1/3;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .replies {
    grid-template-columns: 1fr;
    padding: 15px;
    &::before {
      left: -15px;
      height: 300px;
    }
  }
  .input__section {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
  }
  .textarea {
    order: 1;
    min-width: 100%;
    margin: 0;
  }
  .profile__img {
    order: 2;
    margin-top: 25px;
    width: 35px;
  }
  .primary-btn {
    order: 3;
    margin-top: 15px;
  }
  .comments__input-container {
    margin: auto;
    width: 100%;
    padding: 0 15px;
  }
  .input--reply {
    grid-column: 1/3;
    .textarea {
      min-width: 100%;
    }
  }
  .modal {
    width: 345px;
  }
  .modal__btn {
    padding: 15px 20px;
    font-size: 0.81em;
  }
}

@keyframes append-animate {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.new-reply {
  transform-origin: 50% 0;
  animation: append-animate 0.3s linear;
}
